**/__pycache__/
__pycache__/
*.DS_Store
*.gitattributes
**/.idea
**/.ipynb_checkpoints/
**.zip
*.gitignore
**.gitignore
**/**.gitignore


**.nc
*.nc
**/*.nc
**/**.nc

**.joblib
*.joblib
**/*.joblib
**/**.joblib

**.csv
*.csv
**/*.csv
**/**.csv

**.feather
*.feather
**/*.feather
**/**.feather

**.npz
*.npz
**/*.npz
**/**.npz

**.npy
*.npy
**/*.npy
**/**.npy

# **.html
# *.html
# **/*.html
# **/**.html
# !phd.html
# !index.html

# **.jpg
# *.jpg
# **/*.jpg
# **/**.jpg

# **.png
# *.png
# **/*.png
# **/**.png
# !/assets/images/**/*/
**/examples/

# /assets/**/*.jpeg
# /assets/**/*.jpg
# /assets/**/*.png
/assets/**/*.mp4
/assets/**/*.avi
/assets/**/*.mov
/assets/**/*.mkv
/assets/**/*.flv
/assets/**/*.wmv
/assets/**/*.gif
# assets/
# /assets/
**/*.mp4
**/*.avi
**/*.mov
**/*.mkv
**/*.flv
**/*.wmv
**/*.gif
/assets/videos/
**/assets/videos/
